.how-to-play{
    width: 40%;
    margin-left: 27.2%;
    position: fixed;
    left: 0;
    top: 25%;
    background-color: #F8F8FF;
    color: black;
    height: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 5;
    font-size: 1.4rem;
    
    border-width: 1px;
    border-color: black;
    border-style: solid;

    animation-name: howtoplay-fade-in;
    animation-duration: .7s;
}
.cross:after{
    content: "\d7";
    color: black;
    position: absolute;
    right: 2%;
    top: 2%;
}
.cross:hover{
    cursor: pointer;
}


@keyframes howtoplay-fade-in {
    from{
        top: 40%;
        opacity: 0;
    }
    to{
        top: 25%;
        opacity: 1;
    }
}

@media screen and (max-width: 500px) {
    .how-to-play{
        width: 60%;
        height: 50%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1rem;
        margin-left: 15%;
    }
}